@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap');

:root
body{
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    color: #434455;
}
.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:#4d5ae5;
}
.link{
    text-decoration: none
}
.list{
    list-style: none;
}

.colored-studio{
    color: #2e2f42;
}
.contact{
    font-style: normal
}
.pages,
.contact-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;

}
.color-list{
    color:#434455 ;
}

.pages:hover, .pages:focus,
.contact-list:hover, .contact-list:focus{
    color:  #404bbf;
}
.section-one{
    background-color:#2e2f42;
}
.heading{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color:#fff;
}
.button-one{
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em ;
    color: #fff;
    cursor: pointer;
}
.button-one:hover, .button-one:focus{
    background-color: #404BBF 
}
.hidden{
    visibility : hidden;
}
.title-list{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}
.text-sections{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.title-sections{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color:#2e2f42;
}
.section-four{
    background-color: #F4F4FD;
}
.list-four{
    background-color: #fff;
}
.foot{
    background-color:#2e2f42;
}
.footer-studio{
    color: #f4f4fd;
}
.btn{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color:#4d5ae5;
    background-color:#F4F4FD;
}
.btn:hover, .btn:focus{
    color: #FFF;
    background-color: #404BBF ;
    cursor: pointer;
}